{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Coisa de N</h1>
<h2>venda e revenda de consoles e jogos</h2>
<body>

    <a href="{% url 'store:consoles' %}">Consoles</a>
    {% for console in consoles %}
        <h4>{{console.nome}}</h4>
        <h4>{{console.estado}}</h4>
        <h4>{{console.preço}}</h4>
        <img src="{{console.imagem.url}}" alt="foto do console">
    {% endfor %}
</body>
</html>