{% extends 'base.html' %}
{% block subtitle %}Meu Perfil{% endblock %}
{% block content %}
    <h1>Meu Perfil</h1>
        <p><strong>Nome:</strong> {{ user.first_name }}</p>
        <p><strong>Sobrenome:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Data de Nascimento:</strong> {{ user.birth_date }}</p>
        <p><strong>Bio:</strong> {{ user.bio }}</p>
        <p><strong>Membro desde:</strong> {{ user.date_joined }}</p>
    <input type="button" value="Editar Perfil" onclick="window.location.href='{% url 'users:update_profile' %}'">
{% endblock %}